packages:
  yum:
    libjpeg-turbo-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []

commands:
  perms:
    command: chown -R ec2-user:ec2-user /srv

container_commands:
  wsgi:
    command: cp wsgi.conf ../wsgi.conf

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotd.settings"
    "PYTHONPATH": "/srv/eggs/Zope2-2.13.28-py2.7.egg:$PYTHONPATH"
